/* 기본 클래스 */
.highlighted{
    background-color: #C8C8C8 !important;
}

/* 책 소개 */
.book-info{
    width:100%;
    border-bottom: 1px solid #707070;
}
.book-info-left{
    width:180px;
}   
    .book-info-left .book-info-thumbnail img{
        border-radius: 10px;
        border: 2px solid #222222;;
    }
    .book-info-left .book-info-icons{
        margin:5px 0 45px 0;
        padding-left:30px;
        padding-right:30px;
    }
        .book-info-left .book-info-icons img{
            width:30px;
        }

.book-info-right{
    padding-left:30px;
    text-align: left;
    vertical-align: top;
} 
    .book-info-right .book-info-rating{
        font-size: 16px;
        font-weight: 500;
    }
        .book-info-right .book-info-rating img{
            width:16px;
            margin-right:-2px;
        }
    .book-info-right .book-info-title{
        font-size: 20px;
        font-weight: 600;
    }
    .book-info-right .book-info-summary{
        margin: 5px 0 20px 0;
        font-size: 16px;
        font-weight: 500;
    }
    .book-info-right .book-info-autor{
        font-size: 20px;
        font-weight: 600;
    }
    .book-info-right .book-info-autor-summary{
        margin: 5px 0 20px 0;
        font-size: 16px;
        font-weight: 500;
    }

/* 탭(쓰레드 소개 리뷰) 타이틀 */
.book-tab{
    width:100%;
    margin-top:10px;
    background-color: #707070;
    color:white;
    text-align: center;
}
    .book-tab td{
        width:33%;
        border: 0px none;
    }
    .book-tab tr:nth-child(1) td{
        height:40px;
    }
        .book-tab tr:nth-child(1) td:hover{
            background-color: #8b8b8b;
        }
    .book-tab tr:nth-child(2) td{
        height:7px;
    }

/* 챕터 리스트 */
.chapter-list{
    border-bottom: 1px solid #707070;
}
.chapter-list-content{
    width:100%;
    height:100px;
    padding: 20px 0 0 0;
}
    .chapter-list-content:hover{
        background-color: #ececec;
    }

.chapter-list-left{
    padding-left:10px;
}
    .chapter-list-left .chapter-list-title{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .chapter-list-left .chapter-list-sub{
        font-size: 16px;
    }

.chapter-list-right{
    padding-right:10px;
}

.chapter-list-more{
    height:20px;
    text-align: center;
}
    .chapter-list-more:hover{
        background-color: #ececec;
    }
    .chapter-list-more img{
        width:15px;
    }
