/*
main.html
login.html
*/

/* 중앙 내용물 */
article{
    padding: 0 10px 20px 10px;
    height:350px;
    text-align: center;
}

    .article-header{
        font-size: 25px;
        text-align: left;
        padding: 20px;
        padding-left: 60px;
    }
    .article-title{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .article-date{font-size: 13px;}
    .article-body {
        font-size: 14px;
    }
        .article-body-list{
        }
            .article-body-list li{
                display: inline-block;
                margin-left: 20px;
               
            }
            .article-body-list img{
                border-radius: 10px;
                border: 2px solid #222222;;
            }
        .article-body-button-more{
            display: block;
            background-color: #d4d4d4;
            width:70px;
            height:20px;

            padding:7px;
            margin: 10px auto;

            border-radius: 10px;
        }

/* 로그인 입력 양식 */
#login-form{
    width:300px;
    margin: 100px auto;
}
    #login-form input{
        display:block;
        width:100%;
        height:35px;
        
        padding: 0 10px 0 10px;
        border : 1px solid #C8C8C8C8 ;
        border-radius: 5px;
    }
    #login-form input[type="text"]{
        width: -moz-calc(100% - 22px);
        width: -webkit-calc(100% - 22px);
        width: -o-calc(100% - 22px);
        width: calc(100% - 22px);

        margin: 0 0 10px 0;
    }
    #login-form .form-button{
        height:40px;
        background-color: #585858;
        color:white;
    }
        #login-form .form-button:active{
            background-color: #797979;
        }
    #login-form .form-etc{
        color : #797979;
        font-size: 14px;
        margin:10px 0 10px 0;
    }
        #login-form .form-etc div{
            display : inline-block;

            margin:10px;
        }