<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCI StartUp Project - Book</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('.outer-menu-item').hover(function(){
                $(this).find('.inner-menu').show();
            }, function(){
                $(this).find('.inner-menu').hide();
            });
        });
    </script>
</head>
<body>
    <div id="page-wrapper">
        <nav id="main-navigation">
            <div id="main-menu" class="nav-wrapper">
                <div class="pull-left">
                    <h1 class="master-title">Icon</h1>
                </div>
                <div class="pull-right">
                    <ul class="outer-menu">
                        <li class="outer-menu-item">
                            <span class="menu-title"><img src="{% static 'icon/chat.png' %}"></span>
                        </li>
                        <li class="outer-menu-item">
                            <span class="menu-title"><img src="{% static 'icon/lightbulb.png' %}"></span>
                        </li>
                        <li class="outer-menu-item">
                            <span class="menu-title"><img src="{% static 'icon/user.png' %}"></span>
                        </li>
                        <li class="outer-menu-item">
                            <span class="menu-title"><img src="{% static 'icon/menu.png' %}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main-search" class="nav-wrapper">
                <div class="clear-both">
                    <div class="search-bar">
                        <form>
                            <input type="text" class="input-search" placeholder="내용을 입력해주세요">
                            <input type="submit" class="input-search-submit" value="검색">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">
            <section id="main-section">
                <article>
                    <table class="book-info">
                        <tr>
                            <td class="book-info-left">
                                <div class="book-info-thumbnail">
                                    {% if book.book_image %}
                                        <img src="{{MEDIA_URL}}{{ book.book_image.url}}" style="width:180px;height:240px;">
                                    {% else %}
                                        <img src="https://placehold.it/180x240" style="width:180px;height:240px;">
                                    {% endif %}
                                </div>
                                <div class="book-info-icons">
                                    <div class="book-info-heart pull-left"><img src="{% static 'icon/heart.png' %}"></div>
                                    <div class="book-info-notification pull-right"><img src="{% static 'icon/bell.png' %}"></div>
                                </div>
                                
                            </td>
                            <td class="book-info-right">
                                <div class="book-info-rating pull-right">평점 4.5
                                    <img src="{% static 'icon/star-full.png' %}">
                                    <img src="{% static 'icon/star-full.png' %}">
                                    <img src="{% static 'icon/star-full.png' %}">
                                    <img src="{% static 'icon/star-full.png' %}">
                                    <img src="{% static 'icon/star-blank.png' %}">
                                </div>
                                <div class="book-info-title clear-both">{{ book.book_title }}</div>
                                <div class="book-info-summary indent">{{ book.book_info }}</div>
                                <div class="book-info-autor">저자 {{ book.book_author }}</div>
                                <div class="book-info-autor-summary indent">전북대학교 컴퓨터공학부 교수로 재직 중이며 저서로는 'C 프로그래밍과 스타일링', '컴퓨터 스토리'등이 있다.</div>
                                <div class="tag-wrapper clear-both">
                                    {% for tag in book.get_hash_tag %}
                                        <p class="tag">#{{tag}}</p>
                                    {% endfor %}
                                </div>
                                <div class="book-info-count clear-both">● 쓰레드 수 | {{ threads|length }}개</div>
                                <div class="book-info-count clear-both">● 기여자 수 | {{ chapter.chapter_contrib_count }}</div>
                            </td>
                        </tr>
                    </table>
                </article>
                <article>
                    <table class="book-tab" cellpadding=0 cellspacing=0>
                        <tr>
                            <td class="book-tab-thread">
                                쓰레드
                            </td>
                            <td>
                                소개
                            </td class="book-tab-info">
                            <td>
                                리뷰
                            </td class="book-tab-review">
                        </tr>
                        <tr>
                            <td class="highlighted"></td>
                            <td class=""></td>
                            <td class=""></td>
                        </tr>
                    </table>
                </article>
                <article>
                    {% for chapter in chapters %}
                    <a href="{% url 'chapter_show' book.book_id chapter.chapter_num %}">
                        <div class="chapter-list">
                            <div class="chapter-list-content">
                                <div class="chapter-list-left pull-left">
                                    <div class="chapter-list-title">{{chapter.chapter_num}}장 {{chapter.chapter_title}}</div>
                                    <div class="chapter-list-subheading indent">
                                        {% for sub in chapter.get_chapter_subs %}
                                        <p>{{chapter.chapter_num}}.{{forloop.counter}} {{sub}}</p>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="chapter-list-right pull-right">
                                    <div class="tag-wrapper clear-both">
                                        {% for tag in book.get_hash_tag %}
                                            <p class="tag">#{{tag}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="chapter-list-countwrapper pull-right">
                                        <div class="chapter-list-count">● 쓰레드 수 | {{ chapter.chapter_thread_count }}</div>
                                        <div class="chapter-list-count">● 기여자 수 | {{ chapter.chapter_contrib_count }}명</div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapter-list-more"><img src="{% static 'icon/more.png' %}"></div>
                            </div>
                        </a>
                        {% endfor %}
                </article>
            </section>
        </div>
    </div>
</body>
</html>